{{> head }}

{{> navbar}}

    <div class="row p-2">
        <div class="col-8">
            <p>En el año de 1989, Gobierno Federal inició un importante programa de evaluación y mejoramiento en la educación superior, que incluía a todas las universidades públicas e instituciones estatales, y al que podían sumarse las instituciones privadas que lo desearan.<p> 
    </div>     

    <div class="col-4">
        <img src="/logos/original/logo-universidad-tecnologica-de-aguascalientes.png" alt="Universidad Tecnológica de Aguascalientes">
    </div>
    </div>
    {{> footer }}